  <section>
  <div >
    <div ng-mouseover="options=true" class="backToWebsite" ng-mouseleave="options=false">
      <a href="https://laboratoirebethanie.com"  ng-if="options" class="btn btn-info" >Retourner sur le Site</a>
    </div>
    <div class="row">
      <br/>
      <h1  ng-if="vm.connected"> Bienvenue sur notre application.</h1>
      <h1  ng-if="!vm.connected"> Salut <b>{{vm.authentication.user.firstName}}</b>.</h1>
      <br>
    </div>

    <div class="row">
      <p class="welcome">
        Avec cette application, nous avons tout simplifié pour vous. Consultez vos résultats en cliquant sur le boutton ci-dessous.
      </p>
        <a class="btn btn-success btn-lg" ng-if="vm.connected" ui-sref="authentication.signin" >Connexion</a>
        <a class="btn btn-primary btn-lg" ng-if="!vm.connected" ui-sref="seeResults" >Voir Mes Résultats</a>
      Test

    </div>
  </div>

</section>
