<section xmlns="http://www.w3.org/1999/html">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Utilisateurs</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Rechercher" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
      <div class="col-md-4 text-right" style="margin-top: 2em;">
        <a class="btn btn-primary " ui-sref="admin.addNewUser">
         Ajouter Un Utilisateur
        </a>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems | orderBy : 'roles'" ui-sref="admin.user({userId: user._id})" class="list-group-item " ng-class="{'adminUser': user.roles=='admin'}">
      <h4 class="list-group-item-heading" ng-bind="user.lastName +'  '+ user.firstName"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.username"></p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
