<div id="signupDiv" >
  <h3 class="col-xs-12 text-center">Inscription</h3>
  <div class="col-xs-12 col-md-12">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2  col-md-4">
          <div class="form-group" show-errors>
            <label for="lastName">Nom</label>
            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Nom" required>
            <div ng-messages="vm.userForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Entrez le Nom.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="lastName">Age</label>
            <input type="number" id="age" name="age" class="form-control" ng-model="vm.credentials.age" placeholder="Age" required>
            <div ng-messages="vm.userForm.age.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Entrez l'Age.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="phonenumber">Numéro de Téléphone</label>
            <input type="text" id="phonenumber" name="phonenumber" class="form-control" ng-model="vm.credentials.phonenumber" placeholder="Numéro de Téléphone"  required >
            <div ng-messages="vm.userForm.phonenumber.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Entrez le Numéro de Téléphone</p>
              <p class="help-block error-text" ng-message="phonenumber">Numéro de Téléphone invalide.</p>
            </div>
          </div>


          <div class="form-group" show-errors>
            <label for="agency">Agence</label>
            <select class="form-control" type="text" name="agency" ng-model="vm.user.agency" id="agency" ng-list required>
              <option>Melen</option>
              <option>Ngousso</option>
              <option>Nsam</option>
              <option>Bafoussam</option>
              <option>Nkongsamba</option>
              <option>Kribi</option>
              <option>Ebolowa</option>
            </select>
            <div ng-messages="vm.userForm.agency.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Choisissez l'agence</p>
            </div>
          </div>
        </div>
        <div class="rightPartOfSignUpForm col-xs-10 col-md-4">
          <div class="form-group" show-errors>
            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="Prénom" required autofocus>
            <div ng-messages="vm.userForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Entrez le Prénom.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="agency">Sexe</label>
            <select class="form-control" type="text" name="sexe" ng-model="vm.user.sexe" id="sexe" ng-list required>
              <option>M</option>
              <option>F</option>

            </select>
            <div ng-messages="vm.userForm.sexe.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Choisissez le Sexe</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="username">Confirmer le Numéro de Téléphone</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Nom d'utilisateur" lowercase required>
            <div ng-messages="vm.userForm.username.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Entrez le Numéro de Téléphone</p>
              <p class="help-block error-text" ng-message="pattern">Numéro de Téléphone invalide.</p>
            </div>
          </div>
          <!--<div class="form-group" show-errors>-->
          <!--<label for="email">Email</label>-->
          <!--<input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required >-->
          <!--<div ng-messages="vm.userForm.email.$error" role="alert">-->
          <!--<p class="help-block error-text" ng-message="required">Entrez votre Adresse Email</p>-->
          <!--<p class="help-block error-text" ng-message="email">Email address invalide.</p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group" show-errors>
            <label for="password">Mot de Passe</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Mot de Passe" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
            <div ng-messages="vm.userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Entrez un Mot de Passe</p>
              <div ng-repeat="passwordError in passwordErrors">
                <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="!vm.userForm.password.$error.required">
            <label>Pré-requis du Mot de Passe</label>
            <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
          </div>
        </div>
        <div class="text-center col-md-12 col-xs-12 form-group signupButton">
          <button type="submit" class="btn blueBtn pull-right">Ajouter</button>
          <!--&nbsp;-->
          <a class="btn orangeBtn pull-left" ui-sref="authentication.signin">
            Retour
          </a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
